@model WebApplication1.Models.Employee


<h2 style="color:white"> Login</h2>

<link href="~/Style/StyleSheetForImages.css" rel="stylesheet"/>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4 style="color:white"> Login As Employee</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group" style="color:white">
        Enter Your Email
        <font color="white"> </font>
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmpEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmpEmail, "", new { @class = "text-danger" })


        </div>
    </div>

    <div class="form-group" style="color:white"> 
        Enter Your Password
        <div class="col-md-10">
            @Html.EditorFor(model => model.EmpPassword, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.EmpPassword, "", new { @class = "text-danger" })

        </div>
    </div>


    <p>

    </p>

    <div class="form-group">

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" />
        </div>
    </div>
</div>
}
<p>

</p>

    @Html.ActionLink("Click here to Create User", "CreateEmpUser", null, new { id = "OT", style = "color: white" })
    <div>
        @Html.ActionLink("Click here to Login as a Farmer", "LoginAsFarmer", "UserAccountFarmer", null, new { id = "OT", style = "color: white" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
